:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2e2a28;
  background: linear-gradient(
   90deg,
   #fff0e6, /* very light peach */
  #f6b3a2  /* muted coral */
);

  --contrast-color: #f5f2f0;
  --font-color: #2e2a28;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--contrast-color);
  cursor: pointer;
  width: 197px;
}

button:hover {
  background-color: #d8d2cc;
}

